/* ---------- GENERAL CONFIGURATION ---------- */
@font-face {
    font-family: inter;
    src: url(../assets/inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* ---------- DARK THEME ---------- */
:root {
    --primary-bg: #12131A;
    --secondary-bg: #1C1F2A;
    --primary-text: #F2F2F7;
    --secondary-text: #B4B7C9;
    --card-1: #C99DFF;
    --card-2: #FFB21E;
    --card-3: #FF8A65;
    --meter-bars: #D19BFF;
    --borders: #2A2D3A;
    --light: #525563;
}

/* ---------- LIGHT THEME---------- */
.light-theme {
    --primary-bg: #EDECE5;
    --secondary-bg: #E3E0D5;
    --primary-text: #0D0D08;
    --secondary-text: #4B4836;
    --meter-bars: #2E6400;
    --borders: #D5D2C5;
    --light: #ADAA9C;
}

html {
    scrollbar-gutter: stable;
    background-color: var(--primary-bg);
}

html:has(.light-theme) {
    background-color: #EDECE5;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

/* ---------- MAIN, HEADER AND SECTION CONFIGURATION ---------- */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

section {
    background-color: var(--primary-bg);
    height: 100%;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
}

header {
    color: var(--secondary-text);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hgroup {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

hgroup img {
    height: 100%;
}

header button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: var(--borders);
    cursor: pointer;
}

header button img {
    width: 80%;
    height: 80%;
}

header button:hover {
    background-color: var(--secondary-bg);
    border: solid;
    border-color: var(--borders);
}

/* ---------- FIRST DIV: WRITE-AREA ---------- */
.write-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.write-area h1 {
    font-size: 65px;
    text-align: center;
    width: 75%;
    color: var(--primary-text);
}

.write-area textarea {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    height: 150px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    line-height: 2;
    font-size: 15px;
    border: solid 3px var(--borders);
    resize: none;
}

.write-area textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--light);
}

/* ---------- SECOND DIV: CONTROLS ---------- */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--secondary-text);
}

.checkbox {
    display: flex;
    gap: 25px;
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox label input {
    appearance: none;
    height: 18px;
    width: 18px;
    border: solid 2px var(--secondary-text);
    border-radius: 5px;
    cursor: pointer;
}

.checkbox label input:checked {
    background-color: var(--secondary-text);
    box-shadow: 0 0 10px var(--light);
}

.checkbox .limiter {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    border: none;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.checkbox .limiter:focus {
    outline: none;
}

.checkbox .limiter::-webkit-inner-spin-button,
.checkbox .limiter::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ---------- THIRD DIV: GENERAL-COUNTER ---------- */
.general-counter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 125px;
    gap: 20px;
    color: var(--primary-bg);
    font-size: 50px;
    margin-top: 25px;
}

.general-counter p {
    font-size: 17px;
    font-weight: 500;
}

.counter-1,
.counter-2,
.counter-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 35px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: default;
}

.counter-1 {
    background-color: var(--card-1);
    background-image: url(../assets/purple-bg.webp);
}

.counter-2 {
    background-color: var(--card-2);
    background-image: url(../assets/yellow-bg.webp);
}

.counter-3 {
    background-color: var(--card-3);
    background-image: url(../assets/orange-bg.webp);
}

.counter-1:hover,
.counter-2:hover,
.counter-3:hover {
    scale: 1.05;
    box-shadow: 0 0 20px var(--light);
    transition: 0.3s;
}

/* ---------- FOURTH DIV: PERCENTAGE ---------- */
.percentage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    margin-top: 20px;
    color: var(--primary-text);
    font-size: 20px;
}

.meter-list li {
    color: var(--secondary-text);
    font-size: 15px;
    list-style: none;
    display: grid;
    grid-template-rows: 35px auto;
}

.meter-list label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.meter-list .letter {
    width: 20px;
    min-width: 20px;
    text-align: center;
}

.meter-list .letter-value {
    width: 120px;
    white-space: nowrap;
    text-align: right;
}

.meter-list meter {
    width: 100%;
    height: 15px;
}

.meter-list meter::-webkit-meter-bar {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: none;
}

.meter-list meter::-webkit-meter-optimum-value {
    background-color: var(--meter-bars);
    border-radius: 5px;
}

.percentage details {
    background-color: var(--primary-bg);
}

.percentage details summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 15px;
    color: var(--secondary-text);
}

.percentage details summary::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid var(--secondary-text);
    border-right: 2px solid var(--secondary-text);
    transform: rotate(45deg);
    margin-left: 15px;
    user-select: none;
}

.percentage details[open] summary::after {
    transform: rotate(225deg);
}

.percentage details summary:hover {
    color: var(--primary-text);
}

.percentage details summary:hover::after {
    border-bottom: 2px solid var(--primary-text);
    border-right: 2px solid var(--primary-text);
}

/* ---------- RESPONSIVE 1000PX ---------- */
@media (max-width: 1000px) {
    .write-area h1 {
        font-size: 50px;
    }

    .controls {
        flex-direction: column-reverse;
        gap: 5px;
        align-items: start;
    }

    .checkbox {
        flex-direction: column;
        gap: 5px;
    }

    .general-counter {
        grid-template-columns: 1fr;
    }

    .counter-1:hover,
    .counter-2:hover,
    .counter-3:hover {
        scale: 1;
        box-shadow: none;
        transition: none;
    }
}